body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-120deg, deepskyblue, darkblue);
    background-image: url(All_folders_related_to_web/bg-images/dark_spacewp.webp);
    /* backdrop-filter: blur(1px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar css start's_____________________________________________________________ */

nav {
    /* background-image: url(space\ img.jpeg); */
    background-size: 100vw;
    backdrop-filter: blur(20px);
    height: 9vw;
    padding: 0px 0px 0px 2vw;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Navbar 1st div start's_____________________________________________________________ */

.nav_1st_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.logo {
    width: 5vw;
    transition: all 0.5s;
}

.logo:hover {
    cursor: default;
    scale: 1.2;
}

.logo_title {
    font-size: 2vw;
    /* color: white; */
    opacity: 0;
    transform: scale(0.8);
    transition: 0.3s;
}

.logo_title.active {
    opacity: 1;
    color: white;
    transform: scale(1);
}


/* Navbar 1st div end's_____________________________________________________________ */


/* Navbar 2nd div start's_____________________________________________________________ */

nav .nav_2nd_div {
    display: flex;
    position: relative;
    margin: auto;
}

.input {
    color: #069ee1 !important;
    text-shadow: 0px 0px 1px cyan;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 2px solid rgba(230, 230, 230, 0.493) !important;
    transition: 0.2s !important;
}

.input:focus {
    transform: translateY(-2px) !important;
    box-shadow: 0px 0px 8px #069ee1 !important;
    border-color: #069ee1 !important;
}


.input::placeholder {
    color: rgba(255, 255, 255, 0.397) !important;
    text-shadow: none !important;
}

nav .nav_2nd_div input {
    padding: 0px 2.9vw 0.3px 1vw;
    height: 3vw;
    width: 80vw;
    font-size: 1.5vw;
    border-radius: 1vw !important;
}

.input_error::placeholder {
    color: red !important;
    /* opacity: 70% !important; */
}

.search_icon {
    color: #069EE1;
    position: absolute;
    right: 1.2vw;
    top: 0.3vw;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 50%;
    padding: .5vw;
    background-color: transparent;
    transition: 300ms;
}

.search_icon:hover {
    color: white;
    background-color: darkblue;
    border-radius: 50%;
    padding: .5vw;
}

/* Navbar 2nd div end's_____________________________________________________________ */

/* Navbar css end's_____________________________________________________________ */

/* Body css start's______________________________________ */

.body_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Body First(1st) div start's______________ */

.body_1st_div {
    width: 100%;
    cursor: default;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    padding: 1vw;
    /* backdrop-filter: blur(1px); */
}

.body_1st_div h1,
.body_1st_div h5,
.body_1st_div h6 {
    color: #069ee1 !important;
    color: #005d85 !important;

    color: white !important;
    text-shadow: 0px 0px 20px #005d85;
    font-weight: 700;

    /* background-image: url(All_folders_related_to_web/bg-images/space_img.jpeg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

/* Body First(1st) div end's______________ */


/* Body Second(2nd) div start's______________ */

.body_2nd_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movies-card {
    margin-block: 2vw;
    margin-inline: 1vw;
    height: 310px;
    width: 224px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 5px 5px 15px #ffffff, -5px -5px 15px #ffffff;
    box-shadow: 5px 5px 15px #a8a8a8, -5px -5px 15px #a8a8a8;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */


.movies-image img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.movies-image img:hover {
    scale: 1.1;
}

/* Bottom Card Section */

.movies-description {
    backdrop-filter: blur(30px);
    height: 220px;
    width: 224px;
    position: absolute;
    bottom: 0em;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 8px 16px;
    text-align: center;
}

/* movies Cards Hover States */

.movies-card:hover .movies-description {
    height: 0px;
    padding: 0px 16px;
}

.movies-description h5 {
    /* font-size: 12px; */
    color: white;
    text-shadow: 2px 2px 5px black;
}

.movies-description p {
    color: white;
    /* margin-top: 10px; */
    font-size: 14px;
    text-shadow: 1px 1px 5px black;
}

.movies-description h6 {
    color: grey;
    color: white;
}

/* Body Second(2nd) div end's______________ */

/* Body css end's______________________________________ */




/* Media Queries Start's___________________________ */

@media only screen and (max-width: 1024px) {
    .body_2nd_div {
        gap: 15px;
    }
}

@media only screen and (max-width: 768px) {

    /* Navbar 2nd div start's_____________________________________________________________ */

    nav .nav_2nd_div {
        display: flex;
        position: relative;
        margin: auto;
    }

    nav .nav_2nd_div input {
        padding: 0px 2.9vw 0.6px 1vw;
        height: 4vw;
        width: 80vw;
        font-size: 2vw;
        border-radius: 1vw !important;
    }

    .search_icon {
        font-size: x-small;
        top: .8vw;
        right: 2.4vw;
    }

    .search_icon:hover {
        top: .9vw;
        right: 2.4vw;
    }

    /* Navbar 2nd div end's_____________________________________________________________ */

    .movies-card {
        margin-block: 2vw;
        margin-inline: 1vw;
        height: 258px;
        width: 184px;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 5px 5px 15px #ffffff, -5px -5px 15px #ffffff;
        box-shadow: 5px 5px 15px #a8a8a8, -5px -5px 15px #a8a8a8;
    }

    .movies-description {
        backdrop-filter: blur(30px);
        height: 190px;
        width: 184px;
        position: absolute;
        bottom: 0em;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        padding: 8px 16px;
        text-align: center;
    }

    /* movies Cards Hover States */

    .movies-description h5 {
        /* font-size: 12px; */
        color: white;
        text-shadow: 2px 2px 5px black;
    }

    .movies-description p {
        color: white;
        font-size: 10px;
        text-shadow: 1px 1px 5px black;
    }

}

@media only screen and (max-width: 425px) {

    /* Navbar 2nd div start's_____________________________________________________________ */

    nav .nav_2nd_div {
        display: flex;
        position: relative;
        margin: auto;
    }

    nav .nav_2nd_div input {
        padding: 0px 2.9vw 0.6px 1vw;
        height: 5vw;
        width: 80vw;
        font-size: 2.5vw;
        border-radius: 1vw !important;
    }

    .search_icon {
        font-size: x-small;
        top: .8vw;
        right: 2.4vw;
    }

    .search_icon:hover {
        top: 1vw;
        right: 2.5vw;
    }

    /* Navbar 2nd div end's_____________________________________________________________ */

    .body_1st_div {
        text-align: center;
    }

    .movies-card {
        margin: 2.5vw 2vw;
        height: 218px;
        width: 144px;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 5px 5px 15px #ffffff, -5px -5px 15px #ffffff;
        box-shadow: 5px 5px 15px #a8a8a8, -5px -5px 15px #a8a8a8;
    }

    .movies-description {
        backdrop-filter: blur(30px);
        height: 162px;
        width: 100%;
        position: absolute;
        bottom: 0em;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        padding: 8px 16px;
        text-align: center;
    }

    /* movies Cards Hover States */

    .movies-description h5 {
        /* font-size: 16px; */
        color: white;
        text-shadow: 2px 2px 5px black;
    }

    .movies-description p {
        color: white;
        font-size: 10px;
        text-shadow: 1px 1px 5px black;
    }

}

@media only screen and (max-width: 375px) {


    /* Navbar css start's_____________________________________________________________ */

    nav {
        backdrop-filter: blur(20px);
        height: 15vw;
        padding: 5px 0px 5px 2vw;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    /* Navbar 1st div start's_____________________________________________________________ */

    .logo {
        width: 10vw;
        transition: all 0.5s;
    }

    .logo:hover {
        cursor: default;
        scale: 1.2;
    }

    /* Navbar 1st div end's_____________________________________________________________ */


    /* Navbar 2nd div start's_____________________________________________________________ */

    nav .nav_2nd_div {
        display: flex;
        position: relative;
        margin: auto;
    }

    nav .nav_2nd_div input {
        padding: 0px 4.9vw 0.3px 1.5vw;
        height: 8vw;
        width: 75vw;
        font-size: 3.5vw;
        border-radius: 2vw !important;
    }

    .search_icon {
        top: 2vw;
        right: 3.5vw;
    }

    .search_icon:hover {
        top: 2vw;
        right: 3.5vw;
    }

    /* Navbar 2nd div end's_____________________________________________________________ */

    /* Navbar css end's_____________________________________________________________ */


    .body_1st_div {
        text-align: center;
    }


    .movies-card {
        margin: 3vw 0;
        height: 288px;
        width: 214px;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 5px 5px 15px #ffffff, -5px -5px 15px #ffffff;
        box-shadow: 5px 5px 15px #a8a8a8, -5px -5px 15px #a8a8a8;
    }

    .movies-description {
        backdrop-filter: blur(30px);
        height: 210px;
        width: 100%;
        position: absolute;
        bottom: 0em;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        padding: 8px 16px;
        text-align: center;
    }

    /* movies Cards Hover States */

    .movies-description h5 {
        /* font-size: 12px; */
        color: white;
        text-shadow: 2px 2px 5px black;
        margin-bottom: 20px;
    }

    .movies-description p {
        color: white;
        font-size: 12px;
        text-shadow: 1px 1px 5px black;
    }

}

@media only screen and (max-width: 320px) {

    .search_icon {
        top: 2vw;
        right: 3.5vw;
    }

    .search_icon:hover {
        top: 2vw;
        right: 3.5vw;
    }
}

/* Media Queries End's___________________________ */