body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-120deg, deepskyblue, darkblue);
    background-image: url(All_folders_related_to_web/bg-images/dark_space.jpg);
    /* backdrop-filter: blur(1px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar css start's_____________________________________________________________ */

nav {
    /* background-image: url(space\ img.jpeg); */
    background-size: 100vw;
    backdrop-filter: blur(5px);
    height: 9vw;
    padding: 0px 0px 0px 2vw;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Navbar 1st div start's_____________________________________________________________ */

.logo {
    width: 5vw;
    transition: all 0.5s;
}

.logo:hover {
    cursor: default;
    scale: 1.2;
}

/* Navbar 1st div end's_____________________________________________________________ */


/* Navbar 2nd div start's_____________________________________________________________ */

nav .nav_2nd_div {
    display: flex;
    position: relative;
    margin: auto;
}

nav .nav_2nd_div input {
    padding: 0px 2.9vw 0.3px 1vw;
    height: 3vw;
    width: 80vw;
    font-size: 1.5vw;
    border-radius: 1vw !important;
}

.search_icon {
    color: darkblue;
    position: absolute;
    right: 1.2vw;
    top: 0.3vw;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 50%;
    padding: .5vw;
    background-color: transparent;
    transition: 300ms;
}

.search_icon:hover {
    color: white;
    background-color: darkblue;
    border-radius: 50%;
    padding: .5vw;
}

/* Navbar 2nd div end's_____________________________________________________________ */

/* Navbar css end's_____________________________________________________________ */

/* Body css start's */

.body_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body_1st_div {
    width: 100%;
    cursor: default;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    padding: 1vw;
    /* backdrop-filter: blur(1px); */
}

.body_1st_div h1 {
    color: white !important;
}

.body_1st_div h5 {
    color: white !important;
}

.body_1st_div h6 {
    color: white !important;
}

.body_1st_div p {
    color: white;
}

/* Body css end's */




















p {
    font-size: 12px;
}

.center {
    /* height: 100vh; */
    margin: 10vw 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
    /* align-items: center; */
}

/* End Non-Essential  */

.property-card {
    height: 18em;
    width: 14em;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 5px 5px 27px #a8a8a8, -5px -5px 27px #ffffff;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

/* .property-image {
    height: 6em;
    width: 14em;
    position: Absolute;
    top: 0px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
} */

.property-image img {
    height: 20vw;
    width: 100%;
}

.property-image img {
    transition: 0.5s;
}

.property-image img:hover {
    scale: 1.1;
}


/* Bottom Card Section */

.property-description {
    background-color: #FAFAFC;
    background-color: rgb(180, 180, 180);
    height: 12em;
    width: 14em;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}

/* Social Icons */

.property-social-icons {
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 1em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description {
    height: 0em;
    padding: 0px 1em;
}

.property-card:hover .property-social-icons {
    border-radius: 50%;
    background-color: white;
}

.property-card:hover .property-social-icons:hover {
    background-color: blue;
    cursor: pointer;
}



/* Media Queries Start's */

@media only screen and (max-width: 768px) {
    .search_icon {
        top: 0.5vw;
        right: 1.8vw;
    }

    .search_icon:hover {
        top: 0.4vw;
        right: 1.8vw;
    }
}

@media only screen and (max-width: 425px) {
    .search_icon {
        top: .4vw;
        right: 2vw;
    }
}

@media only screen and (max-width: 375px) {
    .search_icon {
        top: .8vw;
        right: 2.5vw;
    }

    .search_icon:hover {
        top: .3vw;
        right: 2.5vw;
    }
}

@media only screen and (max-width: 320px) {
    .search_icon {
        top: .5vw;
        right: 3vw;
    }
}

/* Media Queries End's */










.property-image {
    height: 6em;
    width: 14em;
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');*/
}